/* .login-form {
  background-color: #eaf1ef;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
  box-sizing: border-box;
  text-align: left;
  padding: 20px;
  width: 24%;
}

.login-input {
  border: rgba(0, 0, 0, 0.5) solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px 15px;
  margin: 10px 0;
  width: 100%;
}

.login-btn {
  background-color: #036b52;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-size: medium;
  font-weight: 700;
  margin: 10px 0;
  padding: 12px 15px;
  text-transform: uppercase; 
  width: 100%;
}

.login-register-btn {
  border: #036b52 solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #036b52;
  font-size: medium;
  font-weight: 700;
  margin: 10px 0;
  padding: 12px 15px;
  width: 100%;
} */
